<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="recipe[name]" value="<%= @recipe.name%>" id="name">
  <input type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients%>" id="ingredients">
  <input type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time%>" id="cook_time">
  <input type="submit" value="submit">
</form>
