<h1>Create a New Recipe!</h1><br>

<form action='/recipes' method='POST'>

    Recipe Name: <input type='text' name="name" id="name"><br><br>
    Recipe Ingredients: <input type='text' name="ingredients" id="ingredients"><br><br>
    Recipe Cook Time: <input type='text' name="cook_time" id="cook_time"><br><br>
    <input type='submit' value='Submit!'>

</form>